<%= form_with(model: contact, url: en_contacts_path(contact), local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.text_field :name, autofocus: true, autocomplete: "name" ,:class=> 'form-control', :placeholder => t('contact.name_placeholder') %>
  </div>
  <div class="form-group">
    <%= form.email_field :email, autocomplete: "name" ,:class=> 'form-control', :placeholder => t('contact.email_placeholder'), required: true %>
  </div>
  <div class="form-group">
    <%= form.text_field :mobile, autocomplete: "mobile" ,:class=> 'form-control', :placeholder => t('contact.phone_placeholder'), size: "60x10" %>
  </div>
  <div class="form-group">
    <%= form.text_area :message ,  placeholder: t('contact.request_placeholder'),:class=> 'form-control', required: true %>
  </div>
  <div class="text-right">
  <%= form.submit t('contact.submit_btn') ,:class=>'btn'%>
  </div>
<% end %>