 <!-- Start Trip -->
    <div class="trip">
      <div class="container">
        <div class="row">
          <div class="col-md-8 info text-left">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active rounded shadow hvr-grow" id="nav-trip-tab" data-toggle="tab" href="#nav-trip" role="tab" aria-controls="nav-trip" aria-selected="true"><%= t('trip.about_trip') %></a>
                <a class="nav-item nav-link  rounded shadow hvr-grow" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="false"><%= t('trip.details') %></a>
                <a class="nav-item nav-link  rounded shadow hvr-grow" id="nav-review-tab" data-toggle="tab" href="#nav-review" role="tab" aria-controls="nav-review" aria-selected="false"><%= t('trip.reviews') %></a>
              </div>
            </nav>
            
            <div class="tab-content p-1" id="nav-tabContent">
              <!-- Start Nav Trip Tab -->
              <div class="tab-pane fade show active" id="nav-trip" role="tabpanel" aria-labelledby="nav-trip-tab">
                <h2><%= @trip.en_name %></h2>
                <p><%= @trip.en_description %></p>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <% if @trip.images.attached?%>
                        <% @trip.images.each_with_index do |image, t| %>
                          <li data-target="#carouselExampleIndicators" data-slide-to="<%= t+1 %>" <% if (t==0) %>class="active"<% end %>></li>
                        <% end %>
                      <% else %>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                      <% end %>
                  </ol>
                  <div class="carousel-inner">
                    <% if @trip.images.attached?%>
                      <% @trip.images.each_with_index do |image, t| %>
                        <div class="carousel-item <% if (t==0) %>active<% end %>">
                          <%=image_tag(image, class: 'd-block img-fluid rounded') %>
                        </div>
                      <% end %>
                    <% else %>
                      <div class="carousel-item active">
                        <%=image_tag("aldesah.webp", class: 'd-block img-fluid rounded')%>
                      </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <div class="information">
                  <h3><%= t('trip.main_information') %></h3>
                  <span><%= @trip.adult_price %></span>
                  <table class="table">
                     <tbody>
                      <tr>
                        <td class="main"><%= t('trip.leaving_place') %></td>
                        <td><%= @trip.ar_leaving_place %></td>
                      </tr>
                      <tr>
                        <td class="main"><%= t('trip.leaving_at') %></td>
                        <td><%= @trip.leaving_time %></td>
                      </tr>
                      <tr>
                        <td class="main"><%= t('trip.returning_at') %></td>
                        <td><%= @trip.returning_time %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- End Nav Trip Tab -->
              <!-- Start Nav Info Tab -->
              <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                <div class="info info-detail">
                  <h3><%= t('trip.we_offer') %></h3>
                  <% @trip.offers.each do |offer| %>
                    <% if offer.is_available %>
                      <i class="fas fa-check text-success"></i> <span><%= offer.en_name %></span>
                      <div class="d-block"></div>                
                    <% end %>
                  <% end %>
                </div>
                <div class="info info-detail times">
                  <h3><%= t('trip.not_offer') %></h3>
                  <% @trip.offers.each do |offer| %>
                    <% unless offer.is_available %>
                      <i class="fas fa-times text-danger"></i> <span><%= offer.en_name %></span>
                      <div class="d-block"></div>                  
                    <% end %>
                  <% end %>
                </div>
                <hr />
                <div class="information">
                  <ul class="timeline">
                    <% @trip.days.each do |day| %>
                      <li>
                        <h4 href="#!"><%= t('trip.day') %> <%= day.number %></h4>
                        <% day.schedules.each do |schedule| %>
                          <p><%= schedule.time %> <%= schedule.en_name %></p>
                        <% end %>
                      </li>
                    <% end %>
            			</ul>
                </div>
                <hr />
              </div>
              <!-- End Nav Info Tab -->
              <div class="tab-pane fade p-4" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                <h2 class="mb-4"><%= t('trip.reviews') %> {<%= @trip.reviews.count %>}</h2>
                <% @trip.reviews.each do |review| %>
                  <div class="border rounded shadow p-1 mb-3">
                    <p class="mb-3 text-dark"><%= review.comment %></p>    
                    <h6 class="border-top border-dark text-primary">By: <%= review.user.first_name %> <%= review.user.last_name %></h6>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
          <div class="col-md-4 info booking border-left p-1">
            <div class="information">
              <h3><%= t('trip.book_here') %></h3>
              <%= form_with(model: @book_trip, url: "/en/trips/#{@trip.id}", local: true, id: "new_book") do |form| %>
                <% if @book_trip.errors.any? %>
                  <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <% @book_trip.errors.full_messages.each do |message| %>
                      <h6 class="text-danger text-center"><%= message %></h6>
                    <% end %>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= form.label(:adults, "#{t('trip.number_of_adults')} (#{@trip.adult_price} R.S Per Person)" )%>
                  <%= form.number_field :adults, in: 1..@trip.available_places, value: 0, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= form.label(:children, "#{t('trip.number_of_children')} (#{@trip.child_price} R.S Per Person)") %>
                  <%= form.number_field :children, in: 1..@trip.available_places, value: 0, class: 'form-control' %>
                </div>

                <%= hidden_field_tag(:adult_price, @trip.adult_price) %>
                <%= hidden_field_tag(:child_price, @trip.child_price) %>
                <%= form.hidden_field :trip_id, value: @trip.id %>

                <div class="form-group">
                  <%= form.submit t('trip.book_trip'), class: 'btn text-center' %>
                </div>
                <hr>
                <span class="text-center" id="total_count">Total cost 0.0</span>
              <% end %>
            </div>
          </div>

        </div> <!-- /Row -->
      </div> <!-- /Container -->
    </div> <!-- /Trip -->
    <!-- End Trip -->

<% content_for :javascript_includes do %>
    <%= javascript_pack_tag 'en_trips', 'data-turbolinks-track': 'reload' %>
<% end %>