<!-- Start Header -->
<% if @destinations.first && @destinations.first.image.attached? %>
<div class="header">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" >
            <div class="carousel-item active slider"  style="background-image: url(<%= url_for(@destinations.first.image) %>)">
                <div class="carousel-caption space">
                        <h2><%= @destinations.first.en_name %></h2>
                </div>
                        <div class="carousel-caption">
                            <%= link_to en_destination_path(@destinations.first), class: 'btn ' do %>Book Now<% end %>
                        </div>
            </div>   

            <% @destinations.drop(1).each do |destination| %>
              <% if destination.image.attached? %>

              <div class="carousel-item slider"  style="background-image: url(<%= url_for(destination.image) %>)">
                  <div class="carousel-caption space">
                          <h2><%= destination.en_name %></h2>
                  </div>
                          <div class="carousel-caption">
                              <%= link_to en_destination_path(destination), class: 'btn ' do %>Book Now<% end %>
                          </div>
              </div> 
              <% end %>

          <% end %>
        </div>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
    </div>
</div>
<% end %>

<!-- End Header -->
<!-- Start About Us -->
    <div class="about">
      <div class="container">
        <div class="row">

          <div class="col-md-12 info">
            <h1><%= t('static.about_us') %></h1>
            <p><%= t('static.about_paragraph') %></p>
            <p><%= t('static.about_paragraph') %></p>
          </div>
          <div class="col-lg-3 col-md-6 info text-center features">
            <span class="d-block"><i class="fas fa-globe"></i></span>
            <h4><%= t('static.diverse_destination') %></h4>
            <p><%= t('static.diverse_destination_paragraph') %></p>
          </div>
          <div class="col-lg-3 col-md-6 info text-center features">
            <span class="d-block"><i class="fas fa-money-bill-wave"></i></span>
            <h4><%= t('static.value_money') %></h4>
            <p><%= t('static.value_money_paragraph') %></p>
          </div>
          <div class="col-lg-3 col-md-6 info text-center features">
            <span class="d-block"><i class="fas fa-calendar-week"></i></span>
            <h4><%= t('static.fast_booking') %></h4>
            <p><%= t('static.fast_booking_paragraph') %></p>
          </div>
          <div class="col-lg-3 col-md-6 info text-center features">
            <span class="d-block"><i class="fas fa-comments"></i></span>
            <h4><%= t('static.support_team') %></h4>
            <p><%= t('static.support_team_paragraph') %></p>
          </div>

        </div> <!--/Row -->
      </div> <!-- /Container -->
    </div> <!-- /About -->
    <!-- End About Us -->