<!-- Start Top Bar -->
<div class="top-bar text-center" id="top">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4 bar-info mt-2 p-2" dir="ltr">
            <% if @current_user %>
              <i class="fas fa-shopping-cart f-co <% if @book_trips.present? %>text-success hvr-grow<% end %>" data-toggle="modal" data-target="#cart"></i><% if @book_trips.present? %> (<strong><%=  @book_trips.count %></strong>)<% end %>
              <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><%= t('header.cart') %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <% @book_trips.each do |book_trip|%>
                      <div class="modal-body" dir="ltr">
                        <div class="media">
                            <div class="media-left">
                              <%= link_to ar_trip_path(book_trip.trip) do %>
                                <% if book_trip.trip.images.attached?%>
                                    <div class="carousel-item <% if (t==0) %>active<% end %>">
                                      <%=image_tag(book_trip.trip.images.sample, class: 'd-block img-fluid rounded', :size => "140x100", :crop => :fill) %>
                                    </div>
                                <% else %>
                                  <div class="carousel-item active">
                                    <%=image_tag("aldesah.webp", class: 'd-block img-fluid rounded', :size => "140x100", :crop => :fill)%>
                                  </div>
                                <% end %>
                              <% end %>
                            </div>

                            <div class="media-body">
                                <h5 class="media-heading"><%= book_trip.trip.ar_name %></h5>
                                <p><%= book_trip.total_price %></p>
                            </div>
                        </div> <!-- /Media-->
                      </div>
                      <hr>
                    <% end %>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-two">
                       <%=  link_to t('header.checkout'), ar_cancel_trip_path, method: "delete", data: {:confirm => "You sure you want to checkout?" } %>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <i class="fas fa-envelope f-co"></i> <span class="w-email">info@weekendtripss.com</span>
          </div>
          <div class="col-sm-12 col-md-4 mt-1 d-none d-md-block">
            <form action="/ar/destinations">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-search f-co"></i></div>
                </div>
                <input type="search" id="q" name="q" value="<%= params[:q] %>" class="form-control" id="inlineFormInputGroup1" placeholder="البحث عن الواجهات">
              </div>
            </form>
          </div>
          <div class="col-sm-12 col-md-4 bar-info p-2" dir="ltr">
            <select onchange="location = this.value;" data-width="fit" data-title="اللغة">
              <% if request.path_info.include?('en') %>
                <option value="/en" selected>English</option>
                <option value="/ar">عربي</option>
              <% else %>
                <option value="/ar" selected>عربي</option>
                <option value="/en">English</option>
              <% end%>
            </select>

            <i class="fab fa-twitter f-co"></i>
            <i class="fas fa-phone-alt f-co"></i> <span class="w-email">0501335104</span>
          </div>

          <!-- For Mobile Only -->
          <div class="col-md-4 d-block d-md-none p-2">
            <form action="/ar/destinations">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-search f-co"></i></div>
                </div>
                <input type="search" id="q" name="q" value="<%= params[:q] %>" class="form-control" id="inlineFormInputGroup2" placeholder="البحث عن الواجهات">
              </div>
            </form>
          </div>

        </div> <!-- /Row -->
    </div> <!-- /Container -->
</div> <!-- /Top Bar -->
<!-- End Top Bar -->
<!-- Start Logo -->
<div class="nav-logo">
  <div class="container">
    <div class="logo-img m-2">
      <%= image_tag("logo.png", class: 'img-fluid hvr-grow') %>
    </div>
  </div> <!-- /Container -->
</div> <!-- /Nav-logo -->
<!-- End Logo -->
<!-- Start Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" dir="rtl">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto" id="navbar-nav-id">
          <li class="nav-item hvr-float" id="home">
              <%= link_to t('header.home'), ar_home_path, class: 'nav-link' %>
          </li>
          <li class="nav-item hvr-float" id="destinations">
              <%= link_to t('header.destinations'), ar_destinations_path, class: 'nav-link' %>
          </li>
          <li class="nav-item hvr-float" id="images">
              <%= link_to t('header.images'), ar_images_path, class: 'nav-link' %>
          </li>
          <li class="nav-item hvr-float" id="contacts">
              <%= link_to t('header.contact_us'), new_ar_contact_path, class: 'nav-link' %>
          </li>
          <li class="nav-item hvr-float" id="about">
              <%= link_to t('header.about_us'), ar_about_path, class: 'nav-link' %>
          </li>
          <% if !@current_user %>

          <li class="nav-item hvr-float" id="register">
              <%= link_to ar_register_path ,  class: 'nav-link bg-warning' do %>
                <%= t('header.register') %>
            <%end%>
          </li>
          <li class="nav-item hvr-float" id="login">
          <%= link_to ar_login_path ,  class: 'nav-link bg-success' do %>
  
            <%= t('header.login') %>
                <%end%>
            </li>
          <%else%>
          <% if @current_user.superadmin_role?%>
            <li class="nav-item hvr-float" id="admin">
              <a class="nav-link bg-success" href="/admin"><%= t('header.dashboard') %></a>
            </li>
          <% end %>
          <li class='nav-item '>
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link bg-danger ' do %>
  
              <%= t('header.logout') %>
            <%end%>
            </li>
            <%end%>
      </ul>
    </div>
</nav>
<!-- End Navbar -->